body {
  background-color: #2e2e42;
}

h1 {
  color: white;
}

h3 {
  color: yellow;
}

li {
  color: white;
}

h2 {
  background-color: yellow;
  border: 2px solid;
}

#astronomy-class {
  color: red;
}
